<form class="form-horizontal" id="signup" action="@routes.Mentors.signUp()" method="post">
    <fieldset>

        <!-- Form Name -->
        <legend>Sign up today!</legend>

        <!-- Text input-->
        <div class="control-group">
            <label class="control-label" for="email">Email</label>
            <div class="controls">
                <input id="email" name="email" type="text" placeholder="email@@email.com" class="input-xxlarge" required="">
            </div>
        </div>

        <!-- Button -->
        <div class="control-group">
            <label class="control-label" for="submit"></label>
            <div class="controls">
                <input type="submit" id="submit" name="submit" class="btn btn-success" value="Submit">
            </div>
        </div>

    </fieldset>
</form>
